In [1]:
a = 10
b = 20

print(a + b)

30

In [2]:
num_1 = 80
num_2 = 20

print(num_1 * num_2)

1600

In [ ]:
# VARIABLE RULES

# A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
# Avoid using Python keywords & Reserved words
# Variable names are should be lower case and with words separated by underscores
# Varible names are should be descriptive
# If you want constant value, use all capitals

-name = "shan"
my_name = "shan"
2name = "shan" # invalid
my_2nd_name = "Lakshan"
for = "shan" # invalid
PI_VALUE = 3.14

In [ ]:
# DATA TYPES

num = 25
print(num)
print(type(num))

25
<class 'int'>

In [ ]:
num_2 = 25.5
print(num_2)
print(type(num_2))

25.5
<class 'float'>

In [5]:
a = 10 + 20j
print(a)
print(type(a))

(10+20j)
<class 'complex'>

In [8]:
num_1 = 2.5e12
print(num_1)
print(type(num_1))

2500000000000.0
<class 'float'>

In [ ]:
# CASTING

x = 7
a= float(x)
b = complex(x)
print(x, type(x))
print(a, type(a))
print(b, type(b))

7 <class 'int'>
7.0 <class 'float'>
(7+0j) <class 'complex'>

In [14]:
y = 20.9
b = int(y)
print(y, type(y))
print(b, type(b))

20.9 <class 'float'>
20 <class 'int'>

In [82]:
# ARRAYS
# List Collection
# Ordered Collection of items
my_list = [1, "Shan", True, 10.5]
print(my_list)
print(type(my_list))
print(len(my_list))#Length
print(my_list[1]) #We can access by index

#Negative Index
print(my_list[-1])
print(my_list[-2])

#Subset
print(my_list[1:3]) 
print(my_list[:3]) 
print(my_list[1:])
print(my_list[1:3:2])

[1, 'Shan', True, 10.5]
<class 'list'>
4
Shan
10.5
True
['Shan', True]
[1, 'Shan', True]
['Shan', True, 10.5]
['Shan']

In [45]:

# Python list duplicate value allowed
my_list = [1, "Shan", True, 10.5, 1, "Shan", True, 10.5]
print(my_list)

[1, 'Shan', True, 10.5, 1, 'Shan', True, 10.5]

In [43]:
my_list = [1, "Shan", True, 10.5]

# Python list are mutable
# Update
my_list[1] = "Lakshan"
print(my_list)

my_list[1:4] = ["Kamal", False, 20.5]
print(my_list)

[1, 'Lakshan', True, 10.5]
[1, 'Kamal', False, 20.5]

In [1]:
my_list = [1, "Shan", True, 10.5]

# Python list are mutable
# Add new value add the end of the list = Append
my_list.append("Badulla")
print(my_list)

# Insert new value at specific index 
my_list.insert (2, "Jayawardhana")
print(my_list)

[1, 'Shan', True, 10.5, 'Badulla']
[1, 'Shan', 'Jayawardhana', True, 10.5, 'Badulla']

In [ ]:
# Add List to List
my_list = [1,2,3,4,5]
my_list_2 = [6,7,8,9,10]
my_list.extend(my_list_2)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
my_list = [1, "Cat", 5, "Apple", 28]

# Python list are mutable
# Delete
print(my_list)
my_list.remove("Cat")
print(my_list)

my_list.pop(1)#Using Index
print(my_list)

[1, 'Cat', 5, 'Apple', 28]
[1, 5, 'Apple', 28]
[1, 'Apple', 28]
['Apple', 28]

In [ ]:
my_list = [1,2,3,4,5,6,7]
del my_list
print(len(my_list))

NameError: name 'my_list' is not defined

In [ ]:
students = ["Amal", "Binu", "Chamara"]
students.append("Dilani")
students.insert(2, "Eshan")
students.remove("Amal")
students.insert(0, "Farah")
print(students)

['Farah', 'Binu', 'Eshan', 'Chamara', 'Dilani']

In [ ]:
# Clear List

my_list = [25, 10, 12, 8, 4]
print(my_list)
my_list.clear()
print(my_list)

[25, 10, 12, 8, 4]
[]

In [10]:
# Sort List (Alphabat Order)
#Accesding
my_list = ["banana" ,"apple", "cat", "Bird", "dog"]
print(my_list)
my_list.sort()
print(my_list)

num_list = [10, 8, 24, 12, 13, 11]
print(num_list)
num_list.sort()
print(num_list)

['banana', 'apple', 'cat', 'Bird', 'dog']
['Bird', 'apple', 'banana', 'cat', 'dog']
[10, 8, 24, 12, 13, 11]
[8, 10, 11, 12, 13, 24]

In [ ]:
#Deccesding
num_list = [10, 8, 24, 12, 13, 11]
print(num_list)
num_list.sort(reverse=True)
print(num_list)

[10, 8, 24, 12, 13, 11]
[24, 13, 12, 11, 10, 8]

In [ ]:
# List data copy to Another new List

my_list_1 = [1,2,3,4,5,6,7,8]
my_list_2 = my_list_1.copy()
print(my_list_2)
my_list_1[2] = 10
print(my_list_1)
print(my_list_2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 10, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [114]:
# Reverse List
my_list_1 = [1,10,5,7,9]
print(my_list_1)
my_list_1.reverse()
print(my_list_1)

[1, 10, 5, 7, 9]
[9, 7, 5, 10, 1]

In [116]:
my_list_1 = [1,2,3,4,5]
my_list_2 = [6,7,8,9]
new_list = my_list_1 + my_list_2
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]