In [ ]:
# Python Tuples
sports = ("tennis", "cricket", "football")
print(sports)
print(sports[1])

('tennis', 'cricket', 'football')
cricket

In [2]:
sports = ("tennis", "cricket", "football")
print(len(sports))

3

In [ ]:
flowers = ("roses")
print(type(flowers))
print(len(flowers))

flowers = ("roses",)
print(type(flowers))
print(len(flowers))

<class 'str'>
5
<class 'tuple'>
1

In [ ]:
sports = (1, "cricket", True)
print(sports)

(1, 'cricket', True)

In [8]:
sports = ("tennis", "cricket", "football")
print(sports[-1])

football

In [9]:
sports = ("tennis", "cricket", "football", "vollyball", "baseball")
print(sports[1:6])
print(sports[2:])
print(sports[:3])

('cricket', 'football', 'vollyball', 'baseball')
('football', 'vollyball', 'baseball')
('tennis', 'cricket', 'football')

In [ ]:
# Update Tuples
friuts = ("apple", "banana", "orange")
x = list(friuts)
print(type(x),x)


x[1] = "grapes"
friuts = tuple(x)
print(type(friuts),friuts)

<class 'list'> ['apple', 'banana', 'orange']
<class 'tuple'> ('apple', 'grapes', 'orange')

In [20]:
# Nested Tuples
nested_tuples = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuples[1][1])
print(nested_tuples[2][0])

b
True