In [ ]:
# Python Sets
sports = {"tennis", "cricket", "football"}
print(type(sports),sports)

<class 'set'> {'cricket', 'football', 'tennis'}

In [12]:
#Can't add duplicate value
sports = {"tennis", "cricket", "football", "tennis"}
print(type(sports),sports)

<class 'set'> {'cricket', 'football', 'tennis'}

In [13]:
sports = {"tennis", "cricket", "football"}
print(type(sports),sports)
print(len(sports))

<class 'set'> {'cricket', 'football', 'tennis'}
3

In [22]:
# Add new value using add()
set_1 = {"tennis", "cricekt", "football"}
print(set_1)
set_1.add("baseball")
print(set_1)

{'football', 'cricekt', 'tennis'}
{'football', 'cricekt', 'tennis', 'baseball'}

In [ ]:
#Add new list or set using update()
set_1 = {"tennis", "cricekt", "football"}
set_2 = {"apple", "banana", "mango"}
set_1.update(set_2)
print(set_1)

{'banana', 'apple', 'mango', 'tennis', 'cricekt', 'football'}

In [32]:
# Excersice
set_1 = {"tennis", "cricekt", "football"}
list_1 = ["white", "black", "red"]
set_1.update(list_1)
print(set_1)

{'football', 'black', 'tennis', 'white', 'cricekt', 'red'}

In [50]:
# Excersice
list_value = [50,60,30,40,50,25,60,30,40]
new_value = set(list_value)
print(f"Remove after duplicate value: {new_value}")
list_value = list(new_value)
list_value.sort()
print(f"Sorted value: {list_1}")

Remove after duplicate value: {40, 50, 25, 60, 30}
Sorted value: [25, 30, 40, 50, 60]